p {
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #e1e1e1;
  font-style: italic;
}

.first {
  font-size: 19px;
}

h1 {
  margin-bottom: 2px;
  font-family:Arial;
  background-color: #efefef;
}

body {
  background: border-box red;
}
