body {
  background-color: antiquewhite;
}

/*body ul {
  background-color: white;
}*/

body div.cont {
  overflow-x: visible;
  position: fixed;
  width: 20%;
  right: 50px;
  top: 15px;
}

body div.thisDiv {
  position: relative;
  width: 55%;
  background-color: yellow;
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 10px;
  padding-top: 5px;
  display: inline-block;
}

body div.logButton {
  position:relative;
  width: 32%;
  background-color: #abc;
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 5px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-right: 5px;
}

div p a b {
  overflow: hidden;
  overflow-wrap = Normal;
}
