body {
  background-color: antiquewhite;
}

/*body ul {
  background-color: white;
}*/

body div.cont {
  overflow:visible;
  display: inline;
  position: fixed;
  width: 20%;
  right: 50px;
  top: 10px;
  padding: 10px;
}

body div.thisDiv {
  position: fixed;
  width: 20%;
  background-color: yellow;
  right: 50px;
  top: 10px;
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 10px;
}

body div.logButton {
  position:relative;
  width: 7%;
  background-color: #abc;
  right: 6px;
  top: 6px;
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 3px;
}

div p a b {
  overflow: hidden;
  overflow-wrap = Normal;
}
