body {
  background-color: antiquewhite;
}

/*body ul {
  background-color: white;
}*/

body div.cont {
  overflow-x: visible;
  position: fixed;
  width: 20%;
  right: 50px;
  top: 15px;
}

body div.thisDiv {
  font-weight: 100;
  position: relative;
  width: 55%;
  background: radial-gradient(#7191d1, #315191);
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 10px;
  padding-top: 5px;
  display: inline-block;
  color: white;
}

body div.logButton {
  background:  radial-gradient(#7191d1, #315191);
  position:relative;
  width: 32%;
  background-color: #abc;
  overflow: hidden;
  overflow-wrap: break-word;
  padding: 5px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-right: 5px;
  color: white;
}

div p a b {
  overflow: hidden;
  overflow-wrap = Normal;
}

.contr1 {
  display: flex;
  flex-direction: row-reverse;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}

.elm {
  transform: scale(1);
  padding: 10px;
  margin: 5px;
  background-color: green;
  height: 100px;
  width: 200px;
  transition-property: width, transform;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

div .elm:hover {
  width: 300px;
  transform: scale(1.03);
}
